input[type = 'email'] , input[type = 'password'],input[type = 'text'] , select{
    font-family: inherit;
    text-align: right;
    direction: rtl;
    height: 52px;
    background-color: transparent;
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border-radius: 12px;
    transition: background-color 240ms, box-shadow 240ms;
    color: #393d4a;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding: 13px;
    width: 90%;
    border: 0;
}
button[type = 'submit']{
    width: 90%;
    line-height: 60px;
    border-radius: 12px;
    font-size: 20px;
    background: #0b7c6f;
    color: #ffffff !important;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.signup-right{
    position: relative;
    height: 100%;
    overflow: hidden;
    box-shadow: 2px 0 10px rgb(0 0 0 / 30%);
    background: linear-gradient(180deg, #102b1d, #57ed94);
    text-align: end;
}
.signup-right h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 53px;
    color: #fff;
}

.signup-right p{
    font-size: 18px;
    margin: 20px 0 50px;
    letter-spacing: 0.64px;
    color: #fff;
}
.signup-right .image{
    margin-top: auto;
    border: 16px solid rgb(255 255 255 / 64%);
    border-radius: 40px 40px 0 0;
    border-bottom: 0;
}
.signup .image img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
@media only screen and (min-width: 576px) {
    .Container {
        max-width: 100% !important;
    }
}
